h1 {
  color: #b9fc4e;
  text-align: center;
  font-size: x-large;
  padding-top: 22px;
  margin-bottom: -3px;
}

button {
  background-color: #b9fc4e;
  border: solid;
  border-radius: 10px;
  width: 70px;
  height: 30px;
  text-align: left;
  margin-top: -4px;
}

.topo {
  background-color: #1e1f1f;
  width: 840px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.area_tela {
  border: solid 20px #3c3c3c;
  width: 800px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

input {
  width: 150px;
  height: 15px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: medium;
}

.input {
  display: flex;
  flex-direction: row;
  font-size: medium;

  padding: 20px;
  color: #b9fc4e;
}

.container {
  background-color: #3c3c3c;
  display: flex;
  flex-direction: row;
  width: 800px;
}

.square {
  font-size: medium;
  padding: 10px;
  border: 1px solid black;
  color: #6371af;
  width: 300px;
  font-weight: bold;
}

span {
  color: #d8d8d9;
  font-size: 20px;
}
